<form (ngSubmit)="submit()" [formGroup]="form.form">
  <a class="text-secondary" routerLink="..">Main Menu</a>
  <h1>Register</h1>
  <p>Let's make a profile for you to start playing.</p>
  <div class="form-floating mb-3">
    <input class="form-control" formControlName="name" id="name" placeholder="Player" type="email">
    <label for="name">Display name</label>
  </div>
  <button [disabled]="form.form.disabled || form.loading || form.form.invalid"
          class="btn btn-primary"
          type="submit">
    Start
  </button>
</form>
