$primary: #116466;

$font-family-base: "Gugi", cursive;

$link-hover-decoration: none;
$link-decoration: none;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

$color: map-remove(
    $colors,
    "blue",
    "indigo",
    "purple",
    "pink",
    "red",
    "orange",
    "yellow",
    "green",
    "teal",
    "cyan",
    "white",
    "gray",
    "gray-dark",
);

$theme-colors: map-remove(
    $theme-colors,
    "success",
    "info",
    "warning",
    "light",
);

$grid-breakpoints: map-remove(
    $grid-breakpoints,
    sm,
    lg,
    xl,
    xxl,
);

$container-max-widths: map-remove(
    $container-max-widths,
    sm,
    lg,
    xl,
    xxl,
);
